.multimedia-features{
    margin-bottom: 50px;
    .multimedia-table-features{
        border:1px solid #2166ac;
        thead{

            color:white;
            background-color:#2166ac;
            font-weight: 700;
            th{
                padding:5px 10px;
                font-size:18px;

            }
        }

        tbody{
            tr{
                &:nth-child(even){
                    background-color:rgba(225,225,225);
                }
            }
            td{
                width:50%;
                padding:10px 15px;
                font-size:16px;
                &:nth-child(odd){
                    border-right:1px solid #2166ac;
                    font-weight: 600;
                }
            }
        }
    }
}


